{% extends "hrapp/base.html" %}
{% load static %}
{% block content %}
<ul class = 'logo'>
  <li class = 'logo1'><img src="{% static "images/logo.png" %}" alt="Tech News" width = '30px' height = '23px' /></li>
  <li class = 'logo1'><a class = 'logo2' href="."><b>TECH BUZZ</b></a></li></li>

  {% if user.is_authenticated %}
    <li class = 'logo1' style="float:right"><a class = 'logo2' href="/logout/">Logout</a></li>
      <li class = 'logo1' style="float:right"><a href = "/profile">Profile&nbsp;&nbsp;</a></li>
  {% else %}
  <li class = 'logo1' style="float:right"><a class = 'logo2' href="/register">Register</a></li>
  <li class = 'logo1' style="float:right"><a class = 'logo2' href="/login">Login</a></li>
  {% endif %}
</ul>
{% if is_paginated %}
<ol start = "{{page_obj.start_index}}">
{% else %}
<ol>
{% endif %}
{% for link in object_list %}
<li class = 'border' style="width:103.6%">
&nbsp;<a href = "{{ link.url }}"><h>{{ link.title }}</h></a>&nbsp;&nbsp;<a href = "."><h class = "sub">({{ link.domain }})</h></a><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h class ="sub">{{ link.votes }} votes</h>&nbsp;&nbsp;&nbsp;<a href = "." class = "sub">{{ link.submitted_on }}</a>&nbsp;&nbsp;<a href = "{% url 'post_detail' pk=link.pk %}" class = "sub">info</a>
</li>
{% endfor%}
</ol>

{% if is_paginated %}
<div class = "container" align = "center">
{% if page_obj.has_next %}
<a href ="?page={{ page_obj.next_page_number }}">more&raquo;</a>
{% endif %}

{% if page_obj.has_previous %}

<a href ="?page={{ page_obj.previous_page_number }}">&nbsp;&laquo;prev</a>
{% endif %}
</div>
{% endif %}
{% endblock %}

